In [ ]:
#swaping using sum/diff
a=int(input( ))
b=int(input( ))
a=a+b
b=a-b
a=a-b
print("a",a)
print("b",b)

3
5
a 5
b 3

In [2]:
#swaping using product/division
a=int(input( ))
b=int(input( ))
a=a*b
b=a/b
a=a/b
print("a",a)
print("b",b)

25
5
a 5.0
b 25.0

In [6]:
#circumference swaping
a=int(input( ))
b=int(input( ))
a=a^b
b=a^b
a=a^b
print("after swaping")
print("a",a)
print("b",b)

45
56
after swaping
a 56
b 45

In [20]:
#list and type of operations
fruits=[["apple","mango"],["cherry","banana"],["kiwi","grapes"]]
print(fruits[1])
print(fruits)
fruits[2]="banana"
print(fruits)
print(fruits[0:2])
print(fruits[0::2])
print(fruits)
fruits.reverse()
print(fruits[2])

['cherry', 'banana']
[['apple', 'mango'], ['cherry', 'banana'], ['kiwi', 'grapes']]
[['apple', 'mango'], ['cherry', 'banana'], 'banana']
[['apple', 'mango'], ['cherry', 'banana']]
[['apple', 'mango'], 'banana']
[['apple', 'mango'], ['cherry', 'banana'], 'banana']
['apple', 'mango']